#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@ --with python2

override_dh_auto_build:
	python setup.py build --force --slurm-lib=/usr/lib/$(DEB_HOST_MULTIARCH) --slurm-inc=/usr/include

clean:
	dh $@
	rm -rf pyslurm/pyslurm.c
